$min-height-home: 500px
$background-color-dropzone: #333333
$text-color: #FFFFFF
$container-width: 70%

.home
  min-height: $min-height-home
  display: flex
  flex-direction: row
  margin: 1%

.listFiles
  float: left
  width: 20%
  ul
    padding-left: 0
    .selectedFile
      display: flex
      justify-content: space-between
      li
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden



.container
  float: right
  width: $container-width
  margin-right: 5%
  margin-left: 2%

  .dropzone
    position: relative
    background-color: $background-color-dropzone
    min-height: $min-height-home / 2
    align-items: center
    display: flex
    justify-content: center
    p
      color: $text-color

  .buttonSave
    height: 10%
    button
      margin-top: 2%
      height: 100%
      width: 100%


